@use "../010-settings" as s;
@use "../030-tools/tool_multi-line-cap" as t-cap;
@use "../030-tools/tool_focus-outline" as t-focus;
@use "../030-tools/tool_screen-reader-only" as t-sr;
@use "../050-layout/basics" as l;
@use "../050-layout/layout_breakpoints" as l-brk;

.t-text-more-less {
  &__toggle {
    @include t-sr.sr-only();

  }
  &__toggle {
    &:checked + .t-text-more-less__label {
      .t-text-more-less__label__more {
        display: none;
      }
    }
    &:not(:checked) + .t-text-more-less__label {
      .t-text-more-less__label__less {
        display: none;
      }
    }
    &:focus-visible + .t-text-more-less__label {
      outline: s.$il-focus-color t-focus.$il-focus-outline-inner-width solid;
    }
  }
  &__label {
    color: s.$il-link-color;
    text-decoration: s.$il-link-decoration;
    &:hover {
      color: s.$il-link-hover-color;
      text-decoration: s.$il-link-hover-decoration;
    }
  }
  &:has(.t-text-more-less__toggle:not(:checked)) {
    .t-text-more-less__text-body {
      @include l-brk.on-screen-size(medium) {
        @include t-cap.il-multi-line-cap-mixin(1);
      }
      @include l-brk.on-screen-size(small) {
        @include t-cap.il-multi-line-cap-mixin(2);
      }
    }
  }
}

